* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;

  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 2rem;
  }
  
  section h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  
  img {
    max-width: 200px;
    border-radius: 20%;
    
    height:300px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  ul li {
    margin-bottom: 1rem;
  }
  
  form label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;

  }